//google font used in brand name section

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

//space in header routing (ng mat style)
.example-spacer {
  flex: 1 1 auto;
}

.brand-font {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
}

.dark-bg {
  background-color: #000;
}

nav {
  margin-left: 20vw;
}
