@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.example-spacer {
    flex: 1 1 auto;
  }

  .dark-bg {
    background-color: #000;
  }

  nav {
    margin-left: 20vw;
  }

  .brand-font{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
  }
