<!---------------------------- #region header and routing section --------------------->

<mat-toolbar class="mb-3 dark-bg">

  <!-------------------------- #region brand name --------------------------->

  <span class="brand-font">Shopping Cart</span>
  <!--using google font-->
  <!-------------------------- #endregion brand name --------------------------->

  <!------------------------------ #region routing section UI using angular mat ----------->

  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a mat-tab-link *ngFor="let link of links" (click)="activeLink = link" [active]="activeLink == link"
      [routerLink]='link'> {{link}} </a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

  <span class="example-spacer"></span>

  <!----------------------------------- #endregion routing section UI using angular mat ----------->

  <!----------------------------------- #region action btns --------------------------------------->

  <!----------------------------------- #region favorite btn -------------------------------------->

  <button mat-icon-button aria-label=" icon-button with heart icon">
    <mat-icon matBadge="3" matBadgeColor="warn">favorite</mat-icon>
  </button>

  <!--------------------------------- #endregion favorite btn -------------------------------------->

  <!----------------------------------- #region shopping cart btn -------------------------------------->

  <button mat-icon-button aria-label=" icon-button with shopping cart icon">
    <mat-icon [matBadge]="numberOfItems" matBadgeColor="warn" routerLink="/shopping/cart/">shopping_cart</mat-icon>
  </button>

  <!----------------------------------- #endregion shopping cart btn -------------------------------------->

</mat-toolbar>

<!---------------------------- #endregion header and routing section --------------------->

<!---------------------------- #region bootstrap container -------------------------------->

<div class="container">
  <app-grid-system [acveLink]="activeLink"></app-grid-system>
  <!--send activeLink to grid component to updated array that show items in screen-->
</div>

<!---------------------------- #endregion bootstrap container -------------------------------->